*{
    color: white;
}
body{
    background: linear-gradient(to top,rgb(19, 6, 6),#000000);
}
.navi{
    width: 100%;
    height: 10vh;
    color: white;    
}
.left_sec{
    float: left;
    height: 10vh;
    width: 30%;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.right_sec{
    float: right;
    height: 10vh;
    width: 70%;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.right_sec div{
    margin: auto;
}
.left_sec div{
    margin: auto;
}
.right_sec div a{
    margin: auto;
    color: white;
    text-decoration: none;
}
#about :hover{ 
    animation: hover_one 0.5s forwards;
}
#new :hover{ 
    animation: hover_one 0.5s forwards;
}
#join :hover{ 
    animation: hover_one 0.5s forwards;
}
#contact :hover{ 
    animation: hover_one 0.5s forwards;
}
#login :hover{ 
    animation: hover_one 0.5s forwards;
}
.left_sec div a{
    margin: auto;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-decoration: none;
}
.full{
    width: 100%;
    height: 100vh;
}
.window2{
    width: 100%;
    height: 100vh;
    /*border-top: 1px solid white;*/
    display: flex;
}
.window2 h1{
    color: white;
    padding: 30px;
}
.window3 h1{
    color: white;
    padding: 30px;
}
.window3 p{
    padding-left: 30px;
    padding-right: 30px;

}
.window4 h1{
    color: white;
    padding: 30px;
}
.window5 h1{
    color: white;
    padding: 30px;
}
.window2 p{
    color: white;
    padding: 0 30px;
}
.window3{
    width: 100%;
    height: 100vh;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    color: white;
}
.window4{
    width: 100%;
    height: 100vh;
}
.window5{
    width: 100%;
    height: 100vh;
}
.sec_1{
    /*border: 1px solid white;*/
    height: 50vh;
    width: 100%;
}
#main_head{
    color: white;
    margin: auto;
    /*border: 1px solid white;*/
    width: fit-content;
    position: relative;
    top: 40%;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 100px;
}
#main_head_cap{
    color: white;
    margin: auto;
    /*border: 1px solid white;*/
    width: fit-content;
    position: relative;
    top: 40%;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
/*
.full video{
    width: 100vh;
    min-height: 100vh;
    position: absolute;
    /*border: 1px solid white;
    top: 0%;
    left: 0%;
    z-index: -1;
    overflow-x: hidden;

}*/
.win2_top_left{
    height: 50vh;
    float: left;
    /*border: 1px solid white;*/
}
.win2_top_right{
    height: 50vh;
    float: right;
    /*border: 1px solid white;*/
    display: flex;
    justify-content: space-around;
}
.win2_bottom_left{
    height: 50vh;
    float: left;
    /*border: 1px solid white;*/
    display: flex;
    justify-content: space-around;
}
.win2_bottom_right{
    height: 50vh;
    float: right;
    /*border: 1px solid white;*/
}
.win2_top_right img{
    height: 80%;
    width: 80%;
    margin-top: 30px;
}
.win2_bottom_left img{
    width: 80%;
    height: 80%;
    margin-top: 30px;
}
@keyframes hover_one{
    100%{
        font-size: 30px;
    }
}
.upper{
    border: 1px solid white;
    width: 75%;
    margin: auto;
    height: 30vh;
    display: flex;
}
.lower{
    border: 1px solid white;
    width: 75%;
    margin: auto;
    height: 30vh;
    display: flex;
}
.col-md-4{
    border: 1px solid red;
    width: fit-content;
}
.col-md-4 img{
    border: 1px solid white;
    width: 70px;
    border-radius: 30px;
    margin: auto;
}